<main class="content">
    <hr />
    <section class="servicios">
      <h1>Servicios que Ofrecemos</h1>
      <div class="servicios-container">
        <div class="servicios-box">
          <img src="assets/hospitall.png" alt="Hospitalizacion" />
          <h2>Hospitalizacion</h2>
          <p>
            En casos graves, es importante que tu mascota tenga un lugar de reposo
            comodo y donde pueda se monitoreado y atendido por nuestros profesionales.
          </p>
        </div>
        <div class="servicios-box">
          <img src="assets/vacuna.png" alt="Vacunación" />
          <h2>Vacunación</h2>
          <p>
            Trae tu carnet de vacunación, y proveeremos a tu mascota con las dosis necesarias
            paa mantenerla protegida y saludable.
          </p>
        </div>
        <div class="servicios-box">
          <img src="assets/baño.png" alt="Aseo" />
          <h2>Aseo</h2>
          <p>
            El aseo es escencial en el cuidado y salud de tu mascota. Realizamos baño, grooming
            y desparasitación para mantener la higine y salud de tu amigo.
          </p>
        </div>
      </div>
    </section>
  </main>
