<div class="tabla-background">
    <section class="listado">
        <h1>Listado de Mascotas en cuidado</h1>

        <div class="tarjetas-container">
            <div *ngFor="let mascota of mascotaList" class="tarjeta">
                <img [src]="mascota.imagen" alt="imagen_mascota" class="tarjeta-imagen">
                <h3>{{mascota.nombre}}</h3>
                <p>Peso: {{mascota.peso}}</p>
                <p>Raza: {{mascota.raza}}</p>
                <p>Enfermedad: {{mascota.enfermedad}}</p>
                <p>Estado: {{mascota.estado}}</p>
                <p>Edad: {{mascota.edad}}</p>
                <div class="botones">
                    <button class="boton-eliminar" [routerLink]="['/mascotas/modificar', mascota.id]">Modificar</button>
                    <button class="boton-eliminar" (click)="eliminarMascota(mascota)">Eliminar</button>
                </div>
            </div>
        </div>
    </section>
</div>
