<div class="tabla-background">
    <section class="listado">
            <h1>Tratamientos actuales</h1>

        <table class="styled-table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nombre de la mascota</th>
                    <th>Enfermedad</th>
                    <th>Droga en uso</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tratamiento of tratamientoList">
                    <td>{{tratamiento.fecha | date:'shortDate'}}</td>
                    <td>{{tratamiento.mascota?.nombre}}</td>
                    <td>{{tratamiento.mascota?.enfermedad}}</td>
                    <td>{{tratamiento.droga?.nombre}}</td>
                    <td>{{tratamiento.mascota?.estado}}</td>
                    <td>
                        <button class="boton-eliminar" href="#" (click)="eliminarTratamiento(tratamiento)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="boton" [routerLink]="['/vet/mascotas']">Ver mascotas</button>
        <button class="boton" [routerLink]="['/tratamientos/agregar']">Nuevo tratamiento</button>
    </section>
</div>

