    <section class="intro">
      <img src="assets/mascotas.webp" class="intro-image" alt="Mascota" />
      <div class="intro-text" >
        <h1>La mejor atención a tu disposición</h1>
      </div>
    </section>
    
    <section class="about_us">
      <h1>¿Quiénes somos?</h1>
      <div class="about-us-content">
          <p>"Somos una veterinaria que entiende que una mascota no es un simple animal. 
          Es tu hij&#64;, herman&#64;, tu mejor amig&#64;. Es por esto que cada vez que se necesita un buen tratamiento
          para tu mascota, no descansamos hasta que tu amigo peludo quede en las mejores condiciones y
          reciba la atención que merece."</p>
          <img src="assets/vet.jpeg" alt="veterinaria" class="about-us-image" />
      </div>
  </section>

    <section class="clinic">
      <h1>Nos encuentras todos los días</h1>
        <div class="clinic-hours">
          <h2>Horarios</h2>
          <p>Lunes a Sabado: 8:00 AM - 9:00 PM</p>
          <p>Domingo: 9:00 AM - 6:00 PM</p>
        </div>
    </section>
