<div class="footer-content">
    <div class="footer-info">
      <p>&copy;VetNet</p>
      <p>Dirección: Calle Ejemplo #123, Bogotá, Colombia</p>
      <p>Teléfono:(601) 3114583672</p>
      <p>Email: vetnet&#64;gmail.com</p>
    </div>
    <div class="footer-social">
      <a
        class="iconoFooter"
        href="https://www.facebook.com/tuempresa"
        target="_blank"
        title="Facebook"
      >
        <img src="assets/facebook.png" height="50" />
      </a>
      <a
        class="iconoFooter"
        href="https://www.instagram.com/tuempresa"
        target="_blank"
        title="Instagram"
      >
        <img src="assets/instagram.png" height="50" />
      </a>
      <a
        class="iconoFooter"
        href="https://www.twitter.com/tuempresa"
        target="_blank"
        title="X"
      >
        <img src="assets/x.png" height="50" />
      </a>
    </div>
  </div>
